<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/main.css">
        <link rel="stylesheet" href="../styles/sidebar.css">
        <link rel="stylesheet" href="../styles/header.css">
        <link rel="stylesheet" href="../styles/footer.css">
        <link rel="stylesheet" href="../styles/styles.css">
        <link rel="stylesheet" href="../styles/employee-signup.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/5ca5c1dd0e.js" crossorigin="anonymous"></script>
        <title>
            Trackgenix SA
        </title>
    </head>
    <body>
        <nav class="sidebar">
            <div class="input-buttons">
                <input type="text" placeholder="Search">
                <div class="buttons">
                    <button id="button-1">
                        <a class="navigate" href="../views/login.html">Log In</a>
                    </button>
                    <button id="button-2">
                        <a class="navigate" href="../views/employee-signup.html">Sign up</a>
                    </button>
                </div>
            </div>
            <div class="menu">
                <span class="titles">
                    Menu
                </span>
                <div class="links">
                    <a href="../views/index.html#home">
                        Homepage
                    </a>
                    <a href="../views/index.html#features">
                        Features
                    </a>
                    <a href="../views/index.html#why-trackgenix">
                        Why Trackgenix?
                    </a>
                    <a href="../views/index.html#contact-us">
                        Contact Us
                    </a>
                </div>
            </div>
            <div class="get-touch">
                <span class="titles">
                    Get in touch
                </span>
                <div class="contact-info">
                    <div class="icon-link">
                        <i class="fa-regular fa-envelope"></i>
                        <span>
                            mailinfo@trackgenix.com
                        </span>
                    </div>
                    <div class="icon-link">
                        <i class="fa-solid fa-phone"></i>
                        <span>
                            123-456789
                        </span>
                    </div>
                    <div class="icon-link">
                        <i class="fa-solid fa-house"></i>
                        <span>
                            123 fake road #2000, Rosario, Argentina
                        </span>
                    </div>
                </div>
            </div>
        </nav>
        <main class="all-main">
            <div class="not-ol">
                <header>
                    <h1>
                        Trackgenix SA
                    </h1>
                </header>
                <section class="all">
                    <div class="sign-up">
                        <h2>sign up</h2>
                        <form action="" class="signup-form">
                            <div class="form1">
                                <label for="name">Name</label>
                                <input id="name" type="text">
                                <div class="name-alert"></div>
                                <label for="surname">Last name</label>
                                <input id="surname" type="text">
                                <div class="surname-alert"></div>
                                <label for="dni">DNI</label>
                                <input id="dni" type="text">
                                <div class="dni-alert"></div>
                                <label for="dob">Date of birth</label>
                                <input id="dob" type="text">
                                <div class="dob-alert"></div>
                                <label for="phone">Phone</label>
                                <input id="phone" type="text">
                                <div class="phone-alert"></div>
                                <label for="adress">Adress</label>
                                <input id="adress" type="text">
                                <div class="adress-alert"></div>
                            </div>
                            <div class="form2">
                                <label for="city">City</label>
                                <input id="city" type="text">
                                <div class="city-alert"></div>
                                <label for="zip-code">ZIP code</label>
                                <input id="zip-code" type="text">
                                <div class="zip-code-alert"></div>
                                <label for="mail">Email</label>
                                <input id="mail" type="text">
                                <div class="mail-alert"></div>
                                <label for="password">Password</label>
                                <input id="password" type="password">
                                <div class="password-alert"></div>
                                <label for="re-password">Repeat password</label>
                                <input id="re-password" type="password">
                                <div class="re-password-alert"></div>
                            </div>
                            <div class="overlay" id="overlay">
                                <div class="popup">
                                  <div class="closeIcon"></div>
                                  <span id="name-checked"></span>
                                  <span id="surname-checked"></span>
                                  <span id="dni-checked"></span>
                                  <span id="dob-checked"></span>
                                  <span id="phone-checked"></span>
                                  <span id="adress-checked"></span>
                                  <span id="city-checked"></span>
                                  <span id="zip-code-checked"></span>
                                  <span id="mail-checked"></span>
                                  <span id="pass-checked"></span>
                                  <span id="re-pass-checked"></span>
                                  <button id="button-7">Back</button>
                                </div>
                            </div>
                        </form>
                        <button id="su-button">Create</button>
                    </div>
                </section>
            </div>
            <section class="ordered-lists">
                <h3>
                    Trackgenix
                </h3>
                <div class="products">
                    <h4>
                        Products
                    </h4>
                    <ol>
                        <li>
                            Features
                        </li>
                        <li>
                            Downloads
                        </li>
                        <li>
                            Integrations
                        </li>
                        <li>
                            Extras
                        </li>
                    </ol>
                </div>
                <div class="company">
                    <h4>
                        Company
                    </h4>
                    <ol>
                        <li>
                            About us
                        </li>
                        <li>
                            Clients
                        </li>
                        <li>
                            Resources
                        </li>
                        <li>
                            Blog
                        </li>
                    </ol>
                </div>
                <div class="support">
                    <h4>
                        Support
                    </h4>
                    <ol>
                        <li>
                            Help
                        </li>
                        <li>
                            Tutorials
                        </li>
                        <li>
                            API
                        </li>
                        <li>
                            Contact
                        </li>
                    </ol>
                </div>
            </section>
        </main>
        <footer>
            <a href="http://www.twitter.com" target="blank">
                <img src="../assets/icons/twitter-brands.svg" alt="twitter icon" height="25px" width="25px">
            </a>
            <a href="http://www.linkedin.com" target="blank">
                <img src="../assets/icons/linkedin-brands.svg" alt="linkedin icon" height="25px" width="25px">
            </a>
            <a href="http://www.github.com" target="blank">
                <img src="../assets/icons/github-brands.svg" alt="github icon" height="25px" width="25px">
            </a>
            <a href="http://www.instagram.com" target="blank">
                <img src="../assets/icons/instagram-brands.svg" alt="instagram-logo" height="25px" width="25px">
            </a>
            <a href="http://www.facebook.com" target="blank">
                <img src="../assets/icons/facebook-brands.svg" alt="facebook logo" height="25px" width="25px">
            </a>
        </footer>
        <script src="../javascript/employee-signup.js"></script>
    </body>
</html>