body{
    max-width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: rgb(55,56,103);
    overflow-x: hidden;
}

/* main section */

nav{
    display: none;
}

main button{
    display: inline-block;
    width: 80px;
    height: 35px;
    padding: 5px 14px;
    margin: 25px 0px;
    border: none;
    border-radius: 5px;
    background-color: rgba(170, 206, 155, 1);
    color: rgb(55,56,103);
    text-align: center;
    text-decoration: none;
    font-size: 10px; 
    font-weight: 500;
}

main{
    font-size: 12px;
}

/* home section */

.article-1, .article-2, header{
    text-align: center;
}

.article-1, .article-2{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px 5px 20px;
    justify-content: center;
}

.article-1 img, .article-2 img, .why-trackgenix img{
    max-width: 100%;
    object-fit: contain;
    height: fit-content;
    margin: 10px 0px;
    border: 1px solid black;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
}

.article-1 h2, .article-2 h2{
    padding-bottom: 5px;
    margin-top: 0px;
    font-size: 25px;
    font-weight: bold;
    color: rgba(170, 206, 155, 1);
}

.article-1 p{
    font-size: 1em;
    padding-bottom: 10px;
}

/* why trackgenix */

.why-trackgenix h2, .contact-us h2, .features h2{
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 2px solid rgb(55,56,103);
    text-transform: uppercase;
}

.why-trackgenix h3{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.why-trackgenix, .contact-us{
    padding: 25px;
    text-align: center;
}

.why-trackgenix img{
    margin-bottom: 20px;
}

.article-03, .article-04, .article-05, .article-06{
    border-bottom: 1px solid rgb(55,56,103);
    margin-bottom: 20px;
}

/* features */

.features{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
    text-align: center;
}

.features h2{
    width: 80vw;
}

.features ul{
    padding-top: 20px;
    list-style: square;
}

.features span{
    font-weight: bold;
}

/* contact us */

.contact-us input, select, textarea{
    display: block;
    padding: 6px;
    margin-top: 3px;
    margin-bottom: 8px;
    border: 1px solid rgb(55,56,103);
    border-radius: 2px;
    resize: none;
}

.contact-us form{
    display: flex;
    flex-direction: column;
    flex: wrap;
    padding: 25px;
}

#button-3{
    width: 100px;
    margin-right: 60px;
}

#button-4{
    background-color: rgba(177, 178, 182, 0.6);
}

/* ordered lists */

.ordered-lists{
    background-color: rgb(55,56,103);
    height: 15vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.ordered-lists h4{
    margin-left: -10px;
    font-weight: bold;
    margin-bottom: 5px;
}

.ordered-lists li{
    padding-top: 5px;
}

.ordered-lists h3{
    display: none;
}

/* media querys */
/*tablet*/

@media (min-width:768px){
    .article-1, .article-2{
        flex-wrap: nowrap;
    }

    .article-2 img{
        order: 1;
        width: 50%;
    }

    .article-1-body{
        text-align: left;
        padding: 30px 25px 0px 10px;
    }

    .article-2-body{
        order: 2;
        text-align: left;
        padding: 20px 0px 0px 20px;
    }
}

/*desktop*/

@media (min-width:1024px){

    nav{
        position: fixed;
        display: flex;
        width: 22vw;
        height: 100vh;
        box-sizing: border-box;
        flex-direction: column;
        padding: 15px;
        background-color: rgba(177, 178, 182, 0.6);
    }

    main{
        margin-left: 25vw;
        width: 78vw;
        font-size: 16px;
    }

    .article-1 h2, .article-2 h2{
        font-size: 30px;
        padding-bottom: 15px;
    }


     .article-1, .article-2{
        flex-wrap: nowrap;
    }

    .article-2 img{
        order: 1;
        width: 45%;
    }

    .article-1-body{
        text-align: left;
        padding: 25px 20px 0px 10px;
        width: 40%;
    }

    .article-1 img{
        width: 50%;
        margin-top: 75px;
    }

    .article-2-body{
        order: 2;
        text-align: left;
        padding: 10px 40px 10px 25px;
        width: 60%;
    }

    .features{
        text-align: left;
        justify-content: flex-start;
    }

    .features ul{
        margin-left: 50px;
    }

    .article-03, .article-04, .article-05, .article-06{
        display: flex;
    }

    .article-03-body,
    .article-04-body,
    .article-05-body,
    .article-06-body{
        align-self: center;
        padding: 0px 20px 0px 10px;
    }

    .article-03-body{
        order: 2;
    }

    .article-05-body{
        order: 6;
    }

    .why-trackgenix img{
       max-width: 50%;
    }

    .contact-us h2, .features h2, .why-trackgenix h2{
        text-align: left;
        padding-bottom: 10px;
    }

    .contact-us form{
        align-items: flex-start;
        margin-left: -15px
    }

    .contact-us input, select, textarea{
        width: 75%;
    }

    .form-buttons{
        text-align: left;
        margin-left: 15px;
        margin-top: -15px;
    }

    #button-3{
        width: 125px;
    }

    #button-4{
        width: 100px;
        margin-left: -20px;
    }

    .ordered-lists h3{
        display: inline;
        align-self: flex-start;
        text-transform: uppercase;
        margin-top: 20px;
        font-size: 25px;
        font-weight: bold;
    }

    .ordered-lists{
        height: 17vw;
        width: 78vw;
        margin-left: -3vw;
    }

    .ordered-lists div{
        align-self: center;
        margin-bottom: 15px;
        margin-left: -50px;
    }


}